<div class="container">
    <h4>Auftrag hinzufügen</h4>
    <form [formGroup]="anmeldeForm" (submit)="submit()">
      <div class="form-group-flex">
        <mat-form-field appearance="outline">
          <input matInput type="number" placeholder="Auftragsnummer" formControlName="nummer">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Bezeichnung" formControlName="bezeichnung">
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <input matInput type="number" placeholder="Dauer" formControlName="dauer">
        </mat-form-field>
        <div>
          <button mat-flat-button type="submit">Auftrag hinzufügen</button>
        </div>
      </div>
    </form>
    <div *ngIf="arbeiter$ | async as arbeiter">
        <div class="arbeiter-container">
            <div *ngFor="let arbeit of arbeiter">
                <div class="arbeiter-card">
                    <div class="arbeiter-card-item">
                        {{arbeit.name}}
                    </div>
                    <button mat-button (click)="addArbeiter(arbeit)">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>
  